<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-10">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3" style="text-align:center">
                            <h4 class="text-dark">Verification link Has been sent to Email</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div  style="text-decoration: none; cursor: pointer;">Go Back to <span  class="text-primary" routerLink="/login">Login</span></div>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


